<div id="user-add"><h2>Add User</h2>
	<% if (typeof(errors) !== 'undefined' && errors.length > 0) { %><div id="messages"><%= (typeof(errors) !== 'undefined') ? errors : "" %></div><% } %>
	<div id="login" class="body">
		<form class="pure-form" method="POST" action="/admin/clients/">
			<input name="uid" placeholder="UniqueID" />
			<input class="pure-button pure-button-primary" type="submit" value="Save" />
		</form>
	</div>
</div>
<div id="client-listing">
	<h2>Clients</h2>
	<% if (typeof(clients) === "undefined" || clients.length > 0) { %>
	<table id="user-table">
		<tr>
			<th>UID</th>
			<th>Email</th>
			<th>Actions</th>
		</tr>
		<% for(var i=0; i<clients.length; i++) { %>
		<tr>
			<td class="uid"><a href="/admin/tracking/<%= clients[i].UID %>"><%= clients[i].UID %></a></td>
			<td class="email"><a href="mailto:<%= clients[i].Email %>"><%= clients[i].Email %></a></td>
			<td class="actions"><a href="/admin/clients/<%= clients[i].id %>" alt="Status">Status</a> <a href="/admin/clients/edit/<%= clients[i].id %>" alt="Edit">Edit</a> <a href="/admin/clients/delete/<%= clients[i].id %>" alt="Delete">Delete</a></td>
		</tr>
		<% } %>
	</table>
	<% } else { %>
	<div>There are no clients to list.</div>
	<% } %>
</div>