<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> Control Panel v.<%= version %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/menu.css' />
  </head>
  <body>
    <div id="layout">
      <%- include admin/templates/header.ejs %>
      <%- include admin/templates/menu.ejs %>
      <div id="content"><%- body %></div>
      <%- include admin/templates/footer.ejs %>
    </div>
  </body>
</html>