<!DOCTYPE html>
<html>
  <head>
    <title><%= title %> Server <%= version %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/menu.css' />
  </head>
  <body>
  	<div id="content">
	    <%- include templates/header.ejs %>
	    <%- include templates/menu.ejs %>
	    <%- include general/statistics.ejs %>
   		<%- include templates/footer.ejs %>
    </div>
  </body>
</html>
